.tc-assistant-wrap {

	.tc-assistant-body {
		margin: 0 auto;
		max-width: 800px;

		@media only screen and (max-width: 870px) {
			padding: 0 1rem;
		}

		.tc-assistant-category {
			margin-bottom: 3rem;

			h2 {
				font-size: 1.5rem;
			}

		}

	}

}
